:root {
  --primary-font: "Luxurious Roman", cursive; /* Only Headings*/
  --secondary-font: "Roboto", sans-serif; /*Paragraphs*/
  --primary-color: #e4d3c9;
  --btn-color: #78adad;
  --text-color: #333230;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--primary-color);
  font-family: var(--secondary-font);
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/rome.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 200px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  margin: 0;
}

h1 {
  font-weight: bold;
  font-size: 96px;
  line-height: 1;
}

h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 32px;
}

h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  text-transform: uppercase;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5px;
  text-align: center;
  color: var(--text-color);
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: #fff;
  padding: 16px 32px;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

main {
  background-color: #e7e3e1;
}

main h2 {
  font-weight: bold;
  font-size: 40px;
  color: var(--text-color);
  line-height: 1.5;
  margin: 0;
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
}

main h5 {
  font-size: 13px;
  line-height: 1;
}

main p {
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
  line-height: 24px;
  opacity: 0.7;
}

section.secondary {
  background: #e7dbd7;
}

section.secondary h3 {
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color);
  letter-spacing: 5px;
  opacity: 0.6;
}

footer {
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/rome-footer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-size: 16px;
  line-height: 24px;
  opacity: 0.6;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer li {
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

footer a {
  color: #fff;
  opacity: 0.7;
  cursor: pointer;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
  grid-gap: 60px;
}

.main-grid {
  grid-template-columns: 1fr 1fr;
}

.main-image {
  max-width: 100%;
}

.attractions-images {
  max-width: 100%;
  display: block;
}


.attractions-grid {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-card {
  background: #fff;
  margin: 30px 0;
}

.grid-body {
  padding: 20px;
}

.grid-card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}

.grid-footer {
  padding: 0 30px;
}

.btn {
  display: block;
  color: #fff;
  background: var(--btn-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px 32px;
  text-decoration: none;
}

.footer-grid {
  grid-template-columns: 1fr 2fr 2fr;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 12px;
  }

  header a {
    font-size: 12px;
    padding: 10px 15px;
  }

  section {
    padding: 30px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
}
